{% extends "admin/change_list.html" %}
{% load admin_static %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'admin/plugin/sweetalert.min.js' %}"></script>
	<style type="text/css">
		/*.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
			margin-right: 0px;
		}*/

		#changelist .actions .button {
			height: 35px;
		}
	</style>
	<script type="text/javascript">
		// $(function(){
		// 	$('#content-main #changelist').addClass('filtered')	
		// })
		
	</script>
{% endblock %}