{% extends "admin/base_site.html" %}

{% block content %}
	<div class="card">
		<div class="card-body p-2">
			<h3 class="card-title">Selamat datang, {{ user.nama_lengkap }}</h3>
		</div>
	</div>
{% endblock %}